:host {
  background-color: #fafafa;
  height: calc(100vh - 64px);
  display: block;
  margin-top: 64px;
}

.fixed-position-header {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.example-spacer {
  flex: 1 1 auto;
}
