<mat-toolbar class="fixed-position-header" color="primary">
  <span>IBook</span>
  <span class="example-spacer"></span>
  <button *ngIf="isIBooKView && editMode" mat-icon-button class="example-icon favorite-icon" (click)="setEditMode(false)">
    <mat-icon>save</mat-icon>
  </button>
  <button *ngIf="isIBooKView && !editMode" mat-icon-button class="example-icon favorite-icon"  (click)="setEditMode(true)">
    <mat-icon>edit_document</mat-icon>
  </button>
  <button *ngIf="!isValidPage || !isIBooKView" mat-icon-button class="example-icon favorite-icon" [routerLink]="'book-editor-view'">
    <mat-icon>menu_book</mat-icon>
  </button>
  <button *ngIf="!isValidPage || isIBooKView" mat-icon-button class="example-icon favorite-icon" [routerLink]="'share-form-view'">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
